@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

/* ==========================================================================
 
   /* ========================================================================== */ 

object {
    display: block;
    border: 0;
    max-width: 100%;
    height: auto;
}
.go-to {
    color: blue;
    font-family: 'Oswald', Arial, sans-serif;
    font-size : 0.60em;
    text-decoration: none; /* no underline */
    margin-right: auto;
    margin-left: 15%;
    margin-top: 5%;
  }
  
.pop {
    background: #00467F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 31px 20px 46px 2px rgba(27, 41, 39, 1);
    -moz-box-shadow: 31px 20px 46px 2px rgba(27, 41, 39, 1);
    box-shadow: 31px 20px 46px 2px rgba(27, 41, 39, 1);
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 50px;
    width: 80%;
    height: auto;
}
.in-line{
    display: inline-block;
}
.form-style-7 {
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
::placeholder { 
    color: rgba(27, 9, 9, 0.534);
    opacity: 1; 
    font-family: Candara Light;
  }

.form-style-9 {
    background: white;
    height: 100%;
    width: 50%;
    padding-top: 10%;
}
.picture{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 238, 238); 
    float: left;
    
}
@media (max-width: 767px) {                  
    .picture {
       display: none;
       float: none;
    }
    .form-style-9{
        background-color: rgba(255, 255, 255, 0);
    }
 }

.pic-and-form{
    height: 500px;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.form-group-9 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
.form-input-9{
    height: 30px;
    width: 100%;
    margin: 0 .25rem;
    min-width: 125px;
    border: 2px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}
.submit-btn{
    background-color: rgb(15, 129, 223);
    color: #eee;
    width: 50%;
}
.submit-btn:hover, .submit-btn:focus, .submit-btn:active, .submit-btn.active, .open>.dropdown-toggle.submit-btn {
    color: #fff;
    background-color: #032027;
    border-color: #285e8e; /*set the color you want here*/
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
    margin-right: 15%;
}

.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
    background: #6B9FFF;
    color: #fff;
}

.form-group-left {
    width: 50%;
    display: inline-block;
}

.form-group-right {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.line-up {
    display: inline-block;
    width: 33.33%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-kit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/*responsive footer */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

body {
    background: #00467F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', 'Microsoft JhengHei', Arial, sans-serif;
    font-size: 1.3rem;
    background: #fefefe;
}

.container {
    width: 80%;
    margin: 60px auto;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

.snip1376 {
    font-family: 'Quattrocento', Arial, sans-serif;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
}

.snip1376 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1376 img {
    max-width: 100%;
    vertical-align: top;
}

.snip1376 figcaption {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 25px 65px;
    position: relative;
}

.snip1376 figcaption:before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.snip1376 h2,
.snip1376 p {
    margin: 10px 10px 10px;
}

.snip1376 h2 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'Oswald', Arial, sans-serif;
}

body.has-overlay::after {
    content: "";
    display: block;
    position: fixed;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.5);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e6990b;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 35px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border: 5px solid black;
    margin-left: -1px;
    margin-top: 5%;
    font-size: 8pt;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: Geogia;
}

.hero-text button:hover {
    background-color: transparent;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px #000;
}

.Head {
    text-align: center;
    position: relative;
    padding-top: 79px;
    font-size: 38px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: Candara Light;
    color: rgb(63, 58, 58);
}

.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero {
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0px;
    height: 350px;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
}

.hero * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hero img {
    max-width: 100%;
    vertical-align: top;
}

.snip1360 {
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
    background-color: #ffffff;
}

.snip1360 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.snip1360 img {
    max-width: 100%;
    vertical-align: top;
}

.snip1360 figcaption {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 25px 55px;
    position: relative;
}

.snip1360 figcaption:before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.snip1360 figcaption a {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #cccccc;
    color: #000000;
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.65;
    width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.snip1360 figcaption a:hover {
    opacity: 1;
}

.snip1360 h2 {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
}

.snip1360 p {
    margin: 0 0 10px;
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.nobull {
    list-style-type: none;
}

.bracket {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0;
}

.round {
    display: inline-block;
    vertical-align: middle;
}

.round .winners>div {
    display: inline-block;
    vertical-align: middle;
}

.round .winners>div.matchups .matchup:last-child {
    margin-bottom: 0 !important;
}

.round .winners>div.matchups .matchup .participants {
    border-radius: 0.25rem;
    overflow: hidden;
}

.round .winners>div.matchups .matchup .participants .participant {
    box-sizing: border-box;
    color: #222020;
    border-left: 0.25rem solid #858585;
    background: rgb(196, 196, 196);
    width: 14rem;
    height: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.round .winners>div.matchups .matchup .participants .participant.winner {
    color: #e6990b;
    border-color: #e6990b;
}

.round .winners>div.matchups .matchup .participants .participant:not(:last-child) {
    border-bottom: thin solid #6d7272;
}

.round .winners>div.matchups .matchup .participants .participant span {
    margin: 0 1.0rem;
    line-height: 3;
    font-size: .6rem;
    font-family: "Roboto Slab";
}

.round .winners>div.connector.filled .line,
.round .winners>div.connector.filled.bottom .merger:after,
.round .winners>div.connector.filled.top .merger:before {
    border-color: #131413;
}

.round .winners>div.connector .line,
.round .winners>div.connector .merger {
    box-sizing: border-box;
    width: 1.5rem;
    display: inline-block;
    vertical-align: top;
}

.round .winners>div.connector .line {
    border-bottom: thin solid #c0c0c8;
    height: 4rem;
}

.round .winners>div.connector .merger {
    position: relative;
    height: 8rem;
}

.round .winners>div.connector .merger:before,
.round .winners>div.connector .merger:after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: 0 solid;
    border-color: #c0c0c8;
}

.round .winners>div.connector .merger:before {
    border-right-width: thin;
    border-top-width: thin;
}

.round .winners>div.connector .merger:after {
    border-right-width: thin;
    border-bottom-width: thin;
}

.round.quarterfinals .winners:not(:last-child) {
    margin-bottom: 2rem;
}

.round.quarterfinals .winners .matchups .matchup:not(:last-child) {
    margin-bottom: 2rem;
}

.round.semifinals .winners .matchups .matchup:not(:last-child) {
    margin-bottom: 10rem;
}

.round.semifinals .winners .connector .merger {
    height: 16rem;
}

.round.semifinals .winners .connector .line {
    height: 8rem;
}

.round.finals .winners .connector .merger {
    height: 3rem;
}

.round.finals .winners .connector .line {
    height: 1.5rem;
}

@media only screen and (max-width: 800px) {
    .logo {
        padding-left: 25px !important;
        padding-top: 0px !important;
    }
}


/* @media only screen and (max-width: 600px) {
    height: auto;
    min-height: 50px;
    display: block;
    position: relative;
    .logo { */

.bracket_container {
    padding: 10%;
    margin-top: 20%
}