@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */


object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  	font-family: 'Raleway', 'Microsoft JhengHei', Arial, sans-serif;
  font-size: 1.3rem;
  background: #ffffff;
}

.container {
  width: 80%;
  margin: 60px auto;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}

.snip1376 {
  font-family: 'Quattrocento', Arial, sans-serif;
 
  overflow: hidden;
  margin: 0px;

  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.snip1376 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1376 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1376 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
  position: relative;
}
.snip1376 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1376 h2,
.snip1376 p {
  margin: 10px 10px 10px;
}
.snip1376 h2 {
  
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
 
}


body.has-overlay::after {
  content: "";
  display: block;
  position: fixed;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.5);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e6990b;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 35px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  border: 5px solid black;
  margin-left: -1px;
  margin-top: 5%;
  font-size: 8pt;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: Geogia;
  
}
.hero-text button:hover {
  background-color: transparent;
  color: white;
  border: 5px solid black;
  text-shadow: 2px 2px #000;
}

.Head {
  text-align: center;
  position: relative;
 padding-top: 79px;
  font-size: 38px;
  letter-spacing: 5px;
  font-weight: bold;
  font-family:  Candara Light;
  color: rgb(63, 58, 58);
}


.hero-image {
  
  height: 50%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero{
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0px;
 height: 350px;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.hero * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hero img {
  max-width: 100%;
 
  vertical-align: top;
}
.snip1360 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  background-color: #ffffff;
}
.snip1360 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1360 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1360 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px 55px;
  position: relative;
}
.snip1360 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1360 figcaption a {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #cccccc;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0.65;
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
.snip1360 figcaption a:hover {
  opacity: 1;
}
.snip1360 h2 {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.snip1360 p {
  margin: 0 0 10px;
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 20%;
}
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 150px;
  margin-left: 15%;
  margin-right: 10%;
}
.grid-container .card:first-child {
  grid-column: span 2;

}
.nobull {
  list-style-type: none;}
 
/* Create two equal columns that floats next to each other */
.dividecolumn {
  float: left;
  width: 70%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}


  @media only screen and (max-width: 800px) {
   
    .logo {
      padding-left: 25px !important;
      padding-top: 0px !important;
    }
  }
  /* @media only screen and (max-width: 600px) {
    height: auto;
    min-height: 50px;
    display: block;
    position: relative;
    .logo { */

      .bracket_container {
        padding: 10%;
        margin-top: 20%;
        margin-left: 30%;
      } 

      /*!
 * Responsive Tournament Bracket
 * Copyright 2016 Jakub Hájek
 * Licensed under MIT (https://opensource.org/licenses/MIT)
 */
/*!
 * 
 */
 @font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh314L8lthI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_cqDs.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh3o4T8lthI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh3x4X8lthI.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
@media (min-width: 38em) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 52em) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 72em) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: #f1f1f1;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}
.container {
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.tournament-bracket {
  display: flex;
  flex-direction: column;
}
@media (min-width: 38em) {
  .tournament-bracket {
    flex-direction: row;
  }
}
.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  flex: 1;
}
.tournament-bracket__round-title {
  color: #9e9e9e;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}
.tournament-bracket__list {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 2em;
  margin-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
@media (max-width: 24em) {
  .tournament-bracket__list {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__list {
    margin-bottom: 0;
    padding-bottom: 0;
    border-right: 1px dashed #e5e5e5;
    border-bottom: 0;
  }
}
.tournament-bracket__round:last-child .tournament-bracket__list {
  border: 0;
}
.tournament-bracket__item {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 2% 0;
  width: 48%;
  transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
  margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
  margin-left: 2%;
}
.tournament-bracket__item::after {
  transition: width 0.2s linear;
}
@media (max-width: 24em) {
  .tournament-bracket__item {
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__item {
    padding: 0.5em 1em;
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin: 0;
  }
  .tournament-bracket__item::after {
    position: absolute;
    right: 0;
    content: '';
    display: block;
    width: 1em;
    height: 45%;
    border-right: 2px solid #9e9e9e;
  }
  .tournament-bracket__item:nth-child(odd)::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
    border-top-right-radius: 0.6em;
  }
  .tournament-bracket__item:nth-child(even)::after {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
    border-bottom-right-radius: 0.6em;
  }
  .tournament-bracket__round:first-child .tournament-bracket__item {
    padding-left: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item {
    padding-right: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item::after {
    display: none;
  }
  .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
    border-radius: 0;
    border-right: 0;
  }
}
@media (min-width: 72em) {
  .tournament-bracket__item {
    padding: 0.5em 1.5em;
  }
  .tournament-bracket__item::after {
    width: 1.5em;
  }
}
.tournament-bracket__match {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-bracket__match:focus {
  border-color: #2196F3;
}
.tournament-bracket__match::before,
.tournament-bracket__match::after {
  transition: all 0.2s linear;
}
@media (max-width: 24em) {
  .tournament-bracket__match {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
    width: 1em;
    height: 10%;
    border-left: 2px solid #9e9e9e;
  }
  .tournament-bracket__match::before {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::before {
    border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket__match::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::after {
    border-top-left-radius: 0.6em;
  }
}
@media (min-width: 72em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    width: 1.5em;
  }
  .tournament-bracket__match::before {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket__match::after {
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
  border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__content {
  display: flex;
}
.tournament-bracket__content::after {
  content: ':';
  width: 1em;
  text-align: center;
  padding: 0.2em 0.1em;
}
@media (min-width: 38em) {
  .tournament-bracket__content::after {
    order: 1;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child {
  width: 50%;
  order: 0;
  text-align: right;
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:first-child {
    align-items: flex-end;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
  order: 2;
  justify-content: flex-end;
}
@media (min-width: 24em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    order: 0;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
  order: 0;
}
@media (min-width: 24em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
    order: 2;
  }
}
.tournament-bracket__content .tournament-bracket__team:last-child {
  width: 50%;
  order: 2;
  text-align: left;
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:last-child {
    align-items: flex-start;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
    justify-content: flex-start;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
    align-items: flex-start;
  }
}
.tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
  order: 1;
}
.tournament-bracket__table {
  width: 100%;
}
.tournament-bracket__caption {
  font-size: 0.8rem;
  color: #BDBDBD;
  font-weight: 300;
  padding-bottom: 0.75em;
}
.tournament-bracket__team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (min-width: 24em) {
  .tournament-bracket__team {
    flex-direction: column-reverse;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__team {
    flex-direction: column-reverse;
  }
}
.tournament-bracket__country {
  font-size: 0.95rem;
  display: flex;
  margin-top: 0.5em;
  align-items: center;
}
@media (max-width: 24em) {
  .tournament-bracket__country {
    margin-top: 0;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__country {
    display: flex;
    flex-direction: column;
  }
  .tournament-bracket__country .tournament-bracket__code {
    margin-top: 0.2em;
  }
}
.tournament-bracket__code {
  padding: 0 0.5em;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  cursor: help;
  transition: padding 0.2s ease-in-out;
}
@media (max-width: 24em) {
  .tournament-bracket__code {
    padding: 0 0.25em;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__code {
    padding: 0;
  }
}
.tournament-bracket__score {
  display: flex;
  align-items: center;
}
.tournament-bracket__team:first-child .tournament-bracket__score {
  flex-direction: row-reverse;
  padding-left: 0.75em;
}
.tournament-bracket__team:last-child .tournament-bracket__score {
  padding-right: 0.75em;
}
.tournament-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: #F5F5F5;
  border-color: #dddddd;
}
.tournament-bracket__team--winner .tournament-bracket__number {
  background-color: #FFF176;
  border-color: #fad674;
}
.tournament-bracket__medal {
  padding: 0 0.5em;
}
.tournament-bracket__medal--gold {
  color: #FFD700;
}
.tournament-bracket__medal--silver {
  color: #C0C0C0;
}
.tournament-bracket__medal--bronze {
  color: #CD7F32;
}
/* form css  need  to be edited*/
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}



.form_wrapper {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin-left: 70%;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f5ba1a;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.8s 0.6s ease-out forwards;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}

.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.form_wrapper .col_half {
  width: 50%;
  float: left;
}
.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}

.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
.form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover {
  background: #fafafa;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.form_wrapper input[type="submit"] {
  background: #f5ba1a;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
.form_wrapper input[type="submit"]:hover {
  background: #e1a70a;
}
.form_wrapper input[type="submit"]:focus {
  background: #e1a70a;
}






.select_option {
  position: relative;
  width: 100%;
}
.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #cccccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}
.select_option select::-ms-expand {
  display: none;
}
.select_option select:hover, .select_option select:focus {
  color: #000000;
  background: #fafafa;
  border-color: #000000;
  outline: none;
}

.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
  border-top-color: #000000;
}


@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }

  .bottom_row .col_half {
    width: 50%;
    float: left;
  }

  .form_container .row .col_half.last {
    border-left: none;
  }

  .remember_me {
    padding-bottom: 20px;
  }
}
